$p-font: "IBM Plex Mono", monospace;
$s-font: "PT Sans", sans-serif;
$p-color: #fff84c;
$s-color: #191917;
$t-color: #131415;

html {
  min-width: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  background-color: $p-color;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
button {
  font-family: $p-font;
}
button {
  border: none;
}
p {
  font-family: $s-font;
}
.row {
  margin: 0;
}

// styles for the landing page
section.landing {
  padding: 4vw 11vw 0 11vw;
  min-height: 100vh;
  background: url(/img/landing-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .background-wrapper {
    min-width: 100vw;
    min-height: 100%;
    position: absolute;
    background-color: $s-color;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .hero-text {
    max-width: 560px;
    h1 {
      font-size: 56px;
      font-weight: bold;
      line-height: 1.29;
      color: $p-color;
    }
    p {
      color: white;
      opacity: 0.5;
      font-size: 24px;
      line-height: 1.29;
    }
    button {
      border-radius: 5px;
      background-color: $p-color;
      color: $t-color;
      padding: 15px 20px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: 3px;
      margin-top: 28px;
      img {
        margin-right: 16px;
      }
    }
  }
}

// styles for the intro section
section.intro {
  padding: 9vh 11vw 0 11vw;
  background-color: $s-color;
  > .row {
    .text {
      padding-top: 9vh;
      h1 {
        color: $p-color;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.31;
        margin-bottom: 30px;
      }
      p {
        color: white;
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 30px;
      }
    }
    .image {
      padding-top: 9vh;
    }
  }
}

// styels for features section
section.features {
  color: white;
  background-color: $s-color;
  padding: 10vh 0 18vh 0;
  > h1 {
    color: $p-color;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.31;
    margin-bottom: 15px;
  }
  > .d-flex > p {
    max-width: 640px;
    opacity: 0.5;
    font-size: 18px;
    line-height: 1.28;
  }
  > .row {
    margin: 6vh 0 0 0;
    padding: 0 5vw 0 5vw;
    > div {
      padding: 16px 8px 0 8px;
      .card-green {
        color: #82ff4c;
        button {
          color: #82ff4c;
          border: solid 1px #82ff4c;
        }
      }
      .card-yellow {
        color: #fff84c;
        button {
          color: #fff84c;
          border: solid 1px #fff84c;
        }
      }
      .card-purple {
        color: #bd4cff;
        button {
          color: #bd4cff;
          border: solid 1px #bd4cff;
        }
      }
      .card-blue {
        color: #4cfffe;
        button {
          color: #4cfffe;
          border: solid 1px #4cfffe;
        }
      }

      > div {
        background-color: $t-color;
        padding: 40px 24px 24px 24px;
        border-radius: 5px;
        > .d-flex img {
          margin-bottom: 40px;
        }
        h5 {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: no;
          margin-bottom: 19px;
        }
        p {
          color: white;
          opacity: 0.5;
          font-size: 14px;
          line-height: 1.29;
          margin-bottom: 16px;
        }
        img {
          margin-right: 8px;
        }
        button {
          background-color: transparent;

          font-size: 12px;
          font-weight: bold;
          line-height: 1.33;
          letter-spacing: 2.8px;
          border-radius: 3px;

          margin-top: 8px;
          padding: 15px;
        }
      }
    }
  }
}

// styles for the native inro section
section.native-intro {
  color: $s-color;
  padding: 4vh 11vw 9vh 11vw;
  > * {
    margin-top: 4vh;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  p {
    color: $t-color;
    font-size: 20px;
  }
}

// styles for the unit-testing section
section.testing {
  padding-top: 18vh;
  padding-bottom: 12vh;
  background-color: $s-color;
  > h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    color: $p-color;
  }
  > div > p {
    font-size: 18px;
    opacity: 0.5;
    text-align: center;
    color: #ffffff;
    max-width: 640px;
  }
  .editor {
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(151, 151, 151, 0.3);

    > .yellow-bar {
      height: 32px;
      background-color: $p-color;
    }
    > .code-wrapper {
      padding: 12px;
      border: solid 1px rgba(151, 151, 151, 0.3);
      background-color: $s-color;
      > .code-container {
        padding: 20px;
        background-color: $t-color;

        > p {
          color: #ffffff;
          font-family: $p-font;
          font-size: 16px;
          word-break: break-word;
          margin-bottom: 0;
          .purple {
            color: #bd4cff;
          }
          .blue {
            color: #4cfffe;
            word-wrap: break-all;
          }
          .red {
            color: #ff4c4c;
          }
          .tab {
            margin-right: 35px;
          }
        }
      }
    }
  }
  > h5 {
    margin-top: 9vh;
    opacity: 0.5;
    font-size: 18px;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
  }
  .accolades-wrapper {
    > div {
      padding: 0 15px;
      h3 {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        color: #fff84c;
        margin-bottom: 15px;
      }
      p {
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0;
      }
    }
  }
}

// styles for the news letter section
section.news-letter {
  padding: 0 8vw 40px 8vw;
  > h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.38;
    color: $s-color;
    margin-bottom: 10px;
  }
  > div > div {
    margin-top: 40px;
  }
  input {
    height: 60px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px #191917;
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
  }
  button {
    height: 60px;
    border-radius: 5px;
    border: solid 1px #191917;
    background-color: $s-color;
    color: $p-color;
    padding: 20px 30px;

    margin-top: 10px;
  }
  img {
    position: relative;
    top: -60px;
  }
}

// styles for the footer
footer {
  background-color: $s-color;
  padding: 33px 5vw 63px 5vw;
  > div > div {
    margin-top: 30px;
    p {
      opacity: 0.8;
      font-size: 16px;
      color: #66686e;
      margin-bottom: 0;
    }
    img {
      margin: 0 6px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  section.testing {
    > h5 {
      margin-bottom: 20px;
    }
    .accolades-wrapper > div {
      margin: 20px auto 0 auto;
    }
  }

  section.news-letter {
    padding-right: 4vw;
    padding-left: 4vw;
    .form {
      display: inline-block !important;
    }
  }
}

// specific styles for ie

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // IE10+ CSS here
  body {
    overflow-x: hidden;
  }
  section.landing {
    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  section.intro {
    .image > div {
      width: 100%;
    }
  }

  section.native-intro {
    > .row > .d-flex > .m-auto {
      width: 100%;
    }
  }

  .editor-wrapper {
    overflow-x: auto;
    .editor {
      overflow-x: auto;
    }
  }
}
