<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ProtectedServlet</web-resource-name>
            <url-pattern>/protected/servlet</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        
        <auth-constraint>
            <role-name>architect</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>some</realm-name>
    </login-config>
</web-app>
