package {0};

/**
 * Your Servlet
 * 
 * @see https://jakarta.ee/specifications/platform/8/apidocs/javax/servlet/http/HttpServlet.html
 */
public class {1} extends HttpServlet {

    protected void doGet(HttpServletRequest request, HttpServletResponse response)
        throws ServletException, IOException {
       
        PrintWriter writer = response.getWriter();
        writer.println("Hello World");
    }
}
