<web-app 
    version="5.0"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" >
    <servlet>
        <servlet-name>BasicUserPrincipalTestServlet</servlet-name>
        <servlet-class>cloud.piranha.extension.security.file.tests.BasicUserPrincipalTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BasicUserPrincipalTestServlet</servlet-name>
        <url-pattern>/basic_user_principal/*</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>My Realm</realm-name>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>BasicUserPrincipal</web-resource-name>
            <url-pattern>/basic_user_principal/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
</web-app>
