<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ProtectedServlet</web-resource-name>
            <url-pattern>/protected/servlet</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        
        <auth-constraint>
            <role-name>architect</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>some</realm-name>
    </login-config>
</web-app>
