name: build
on: 
  push:
    branches:
      - '*'
    tags-ignore:
      - 'release-*'
      - 'v*'
  pull_request:
    branches:
      - master  
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ '14' ]
        os: [ubuntu-latest]
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v1
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn --no-transfer-progress -P javadoc,test install
