name: github-pages
on:
  schedule:
  - cron: "0 11 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - name: Set up JDK 10
      uses: actions/setup-java@v1
      with:
        java-version: 10
    - name: Build with Maven
      run: mvn -B clean install site site:stage
    - name: Checkout gh-pages branch
      uses: actions/checkout@v2
      with:
        ref: 'gh-pages'
        clean: 'false'
    - name: Move site to root directory
      run: |        
        mv -v target/staging .site
        cp -rv .site/* .
        rm -rfv .site
    - name: Commit to GitHub pages
      env:
        PUBLISH_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
        PUBLISH_USERNAME: ${{ secrets.PUBLISH_USERNAME }}
      run: |
        git config --global user.email "noreply@manorrock.com"
        git config --global user.name "Automated job"
        git add .
        git commit -a -m "Publishing to GitHub pages" --allow-empty
        git push https://${PUBLISH_USERNAME}:${PUBLISH_PASSWORD}@github.com/piranhacloud/piranha.git
