name: nightly
on:
  push:
  schedule:
  - cron: "0 0 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v1
    - name: Set up Java 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Build with Maven
      run: mvn --no-transfer-progress -B -DskipTests=true clean install
    - name: Login to Docker Hub
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build amd64 Docker image
      run: |
        cd server
        docker build -f src/main/docker/Dockerfile.amd64 -t piranhacloud/server:amd64-snapshot .
        docker push piranhacloud/server:amd64-snapshot
    - name: Build arm32v7 Docker image
      run: |
        cd server
        docker build -f src/main/docker/Dockerfile.arm32v7 -t piranhacloud/server:arm32v7-snapshot .
        docker push piranhacloud/server:arm32v7-snapshot
    - name: Push multi-arch Docker manifest
      run: |
        cd server
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker manifest create piranhacloud/server:snapshot \
          piranhacloud/server:amd64-snapshot \
          piranhacloud/server:arm32v7-snapshot
        docker manifest annotate piranhacloud/server:snapshot \
          piranhacloud/server:amd64-snapshot --os linux --arch amd64
        docker manifest annotate piranhacloud/server:snapshot \
          piranhacloud/server:arm32v7-snapshot --os linux --arch arm --variant armv7l
        docker manifest push piranhacloud/server:snapshot
    - name: Build with Maven
      run: mvn --no-transfer-progress -B -DskipTests=true deploy
      env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
    - name: Analyze with SonarCloud
      run: |
        mvn --no-transfer-progress -B -Ptest -Pcoverage install verify site \
        sonar:sonar -Dsonar.projectKey=piranhacloud_piranha \
        -Dsonar.organization=piranhacloud -Dsonar.host.url=https://sonarcloud.io \
        -Dsonar.login=${{ secrets.SONAR_LOGIN }}
      env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
