name: release
on:
  push:
    tags:        
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v1
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 17
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
    - name: Build with Maven
      run: mvn --no-transfer-progress -B -DskipTests=true install
    - name: Login to Docker Hub
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build Server Docker image
      run: |
        cd server/standard
        TAG=${GITHUB_REF}
        INDEX=${TAG%v*}
        VERSION=${TAG:${#INDEX}}
        docker build -f Dockerfile.amd64 -t piranhacloud/server:amd64-$VERSION .
        docker build --platform linux/arm64/v8 -f Dockerfile.arm64v8 -t piranhacloud/server:arm64v8-$VERSION .
        docker push piranhacloud/server:amd64-$VERSION
        docker push piranhacloud/server:arm64v8-$VERSION
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker manifest create --amend piranhacloud/server:$VERSION \
          piranhacloud/server:amd64-$VERSION \
          piranhacloud/server:arm64v8-$VERSION
        docker manifest annotate piranhacloud/server:$VERSION \
          piranhacloud/server:amd64-$VERSION --os linux --arch amd64
        docker manifest annotate piranhacloud/server:$VERSION \
          piranhacloud/server:arm64v8-$VERSION --os linux --arch arm64 --variant v8
        docker manifest push piranhacloud/server:$VERSION
    - name: Build Micro Docker image
      run: |
        cd micro/standard
        TAG=${GITHUB_REF}
        INDEX=${TAG%v*}
        VERSION=${TAG:${#INDEX}}
        docker build -f Dockerfile.amd64 -t piranhacloud/micro:amd64-$VERSION .
        docker build --platform linux/arm64/v8 -f Dockerfile.arm64v8 -t piranhacloud/micro:arm64v8-$VERSION .
        docker push piranhacloud/micro:amd64-$VERSION
        docker push piranhacloud/micro:arm64v8-$VERSION
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker manifest create piranhacloud/micro:$VERSION \
          piranhacloud/micro:amd64-$VERSION \
          piranhacloud/micro:arm64v8-$VERSION
        docker manifest annotate piranhacloud/micro:$VERSION \
          piranhacloud/micro:amd64-$VERSION --os linux --arch amd64
        docker manifest annotate piranhacloud/micro:$VERSION \
          piranhacloud/micro:arm64v8-$VERSION --os linux --arch arm64 --variant v8
        docker manifest push piranhacloud/micro:$VERSION
    - name: Build with Maven
      run: |
        export MAVEN_OPTS='--add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.text=ALL-UNNAMED --add-opens=java.desktop/java.awt.font=ALL-UNNAMED'
        mvn -B -DstagingProgressTimeoutMinutes=10 -DskipTests=true -P 'release,!test' -ntp clean deploy
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
