name: release
on:
  push:
    tags:        
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v1
    - name: Set up Java 13
      uses: actions/setup-java@v1
      with:
        java-version: 13
    - name: Build with Maven
      run: mvn -B -DskipTests=true -f pom.xml install
    - name: Login to Docker Hub
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build amd64 image
      run: |
        cd server
        TAG=${GITHUB_REF}
        INDEX=${TAG%v*}
        VERSION=${TAG:${#INDEX}}
        docker build -f src/main/docker/Dockerfile.amd64 -t piranhacloud/server:amd64-$VERSION .
        docker push piranhacloud/server:amd64-$VERSION
    - name: Build arm32v7 image
      run: |
        cd server
        TAG=${GITHUB_REF}
        INDEX=${TAG%v*}
        VERSION=${TAG:${#INDEX}}
        docker build -f src/main/docker/Dockerfile.amd64 -t piranhacloud/server:arm32v7-$VERSION .
        docker push piranhacloud/server:arm32v7-$VERSION
    - name: Create multi-arch manifest
      run: |
        cd server
        TAG=${GITHUB_REF}
        INDEX=${TAG%v*}
        VERSION=${TAG:${#INDEX}}
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker manifest create piranhacloud/server:$VERSION \
          piranhacloud/server:amd64-$VERSION \
          piranhacloud/server:arm32v7-$VERSION
        docker manifest annotate piranhacloud/server:$VERSION \
          piranhacloud/server:amd64-$VERSION --os linux --arch amd64
        docker manifest annotate piranhacloud/server:$VERSION \
          piranhacloud/server:arm32v7-$VERSION --os linux --arch arm32v7
        docker manifest push piranhacloud/server:$VERSION
