name: tck-server
on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      httpImplementation:
        description: 'HTTP Implementation'
        default: 'impl'
        required: true
jobs:
  jakarta-expression-language:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ '17' ]
        os: [ubuntu-latest]
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v3
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        cache: 'maven'
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Setup for TCK
      run: mvn -B -DskipTests=true install
    - name: Run TCK
      run: mvn -amd -B -P external -pl external/tck/el verify
  jakarta-servlet:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ '17' ]
        os: [ubuntu-latest]
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        cache: 'maven'
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Setup for TCK
      run: mvn -B -DskipTests=true install -P${{ github.event.inputs.httpImplementation }}
      if: ${{ github.event.inputs.httpImplementation }}
    - name: Setup for TCK
      run: mvn -B -DskipTests=true install
      if: ${{ !github.event.inputs.httpImplementation }}
    - name: Run TCK
      run: mvn -amd -B -P external -pl external/tck/servlet verify
  jakarta-pages:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ '17' ]
        os: [ubuntu-latest]
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        cache: 'maven'
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Setup for TCK
      run: mvn -B -DskipTests=true install
    - name: Run TCK
      run: mvn -amd -B -P external -pl external/tck/wasp verify
